html {
	font-size: 18px;
	font-family: sans-serif;
	
}

body {
	margin: 0 auto;
}

header {
	position: fixed;
	width: 100%;
	background-color: white;
	z-index: 100;
	border-bottom: solid 1px grey;
	opacity: 0.97;
	
}

header .content {
	display: flex;
	align-items: center;
	
}
header a {
	text-decoration: none;
	color: black;
}
header .logo {
	flex: 1;
}
header nav ul {
	display: flex;

}
nav li {
	padding-right: 1.4rem;
	list-style: none;
}
header .mobile {
	display: none;
}
header .mobile li {
	padding: 0;
}


@media only screen and (max-width: 550px) {
	header .mobile {
		display: flex;
		width: 100%;
	}
	.desktop {
		display: none;
		
	}
	header .mobile ul {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
	}
}

/* Banner / main content */
.content {
	display: inline-flex;
	align-items: center;
	width: 100%;
}
.banner {
	background-color: #8080804a;	
}
.image-container {
	width: 60%;			
}
		
}
.banner-text {
	margin: 24px;	
}
.banner img {
	padding: 90px 24px 32px 24px;
}
.banner-text p {
		line-height: 1.4rem;
		color: grey;
		margin: 30px 0px;
}
.banner-text h1 {
	line-height: 1.2;
}
.button {
	border-radius: 2px;
	background-color: #4a4a4a;
	color: white;
	text-align: center;
	padding: 8px 0 8px 0;
}

/* section 2 */
.section-2 {
	display: flex;
	width: 100%;
}
.column-large {
	flex-direction: column;
	
}
.keep-prac {
	width: 60%;	
	padding: 32px 24px;
}
.image-container {
	width: 60%;
}
.column-medium {
	display: flex;
	flex-direction: column;
	width: 40%;
}
.row {
	padding: 32px 24px;
	display: flex;
	align-items: center;
	
}
.row img {
	width: 220px;
	height: 220px;
}
.info-text {
	margin: 37px;
	text-align: left;
}
.info-text h2, p {
	margin: 0;
}
#guest {
	background-color: #8080804a;
}


/* start learnign */
.start-learning {
	background-color: #8080804a;
	text-align: center;
	padding: 32px;
}
.sl-container {
	display: flex;
	flex-direction: column;
}
.sl-row {
	display: flex;
	justify-content: center;
	margin: 15px 0;
}
#left-center {
	margin-right: 32px;
}
.box {
	flex-direction: column;
	background-color: white;
}
.box-text {
	padding-bottom: 24px;
	text-align: left;
	padding-left: 41px;
}


/* Thesis Exhibit */
.te-container {	
	text-align: left;
	display: flex;
	margin-bottom: 32px;
}

#top {
	
	background-color: #8080804a;
}

.video-container {
	width: 60%;
	padding: 0 24px;
}
.te-video-text {
	display: flex;
}

video {
	
	margin: 0;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 16px 24px 40px 24px;
}



























